.container {
  width: 100%;
  height: 400px;
  background-image: url('/assets/mainpage/Team.jpg');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #fff;
  overflow: hidden;
}

.loginContainer {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2rem;
  width: 400px;
  height: 380px;
  margin-left: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.loginInnerContainer {

}

.loggedInInnerContainer {
  width: 100%;
  height: 100%;
}

.myInfo {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  unicode-bidi: isolate;
}

.thumb {
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 1px;
}

.myInfoImg {
  display: block;
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: 50% 50%;
  flex: 3;
}

.myInfoText {
  flex: 9;
  line-height: 100%;
}

.myInfoText p {
  margin-top: 10px;
  margin-bottom: 0;
  border-top: 1px solid #ccc;
}

.nickname {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  width: 70%;
  word-wrap: break-word;
}

.streak {
  padding-top: 10px;
}

.loginTitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.loginInputBox {
  width: 100%;
}

.test {
  display: flex;
  justify-content: center;
}

.inputGroup {
  width: 70%;
  margin-right: 20px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.loginButton {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.buttonGroup {
  width: 25%;
  margin-bottom: 15px;
}

.signupButton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #6c757d;
  box-shadow: 0 0 0 0.1px #6c757d;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
}

.googleContainer {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kakaoLoginContainer,
.googleContainer {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 12px;
  font-size: 30dp; /* dp는 px로 수정 */
  background-color: #FEE500;
  box-shadow: 0 0 0 0.1px #FEE500;

  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  cursor: pointer;
}
.googleContainer {
  background-color: unset;
  border: 1px solid #ccc;
  box-shadow: 0 0 0 0.1px #ccc;
}

.kakaoSymbolImg {
  height: 20px;
  line-height: 20px;
}

.kakaoLabel {
  margin: 0;
  font-weight: 550;
  flex-grow: 1; /* 텍스트가 남은 공간을 차지하게 함 */
  text-align: center; /* 텍스트를 왼쪽으로 정렬 */
}
